\:root
    --primary-light: #fff    
    --primary-dark: #343434
    --primary-yellow: #F1C410
    --primary-orange: #F49C13


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=latin-ext')

@mixin animated-bg
    content: ''                
    position: absolute                
    width: 500px
    height: 500px
    border-radius: 50%
    background: var(--primary-orange)
    transform: scale(0)
    transition: transform 0.4s ease-in-out
    transform-origin: center center


*,*::before,*::after
  margin: 0
  padding: 0
  box-sizing: border-box
body, html
  font-size: 8px
  width: 100%
  height: 100%
  font-family: 'Open Sans',sans-serif  
  color: var(--var-primary-dark)  
body
  overflow: hidden
ul
    list-style-type: none

.container
    width: 95%
    margin: 0 auto
.wrapper 
    height: calc(100vh - 7rem);
    min-height: 100%
    overflow-y: scroll
    scroll-snap-type: y mandatory
    scroll-behavior: smooth
    background: var(--primary-yellow)
.active
    color: var(--primary-dark)
.small-text
    text-align: center
    color: #fff
    font-size: 0.9rem   
    a
        font-style: italic
        text-decoration: none
        color: #fff
        &:hover
            text-decoration: underline
            color: #ccc

/* HEADER */
header
    height: 100vh    
    background: linear-gradient(to top, rgba(#343434,0.7),transparent),url(../images/startup_hero1.jpg) 
    background-repeat: no-repeat 
    background-position: center
    background-size: cover
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    scroll-snap-align: center    
    .cta
        margin-top: 2rem
        max-width: 60%
.brand-logo
    width: 6rem 
    position: absolute
    top: 0.5em
    left: 1em
.toggle-nav
    display: none 
    &:checked ~ .main-nav_links    
        height: 15em        
    &:checked + label 
        span
            background-color: transparent
        span::before
            transform: rotate(45deg)
            bottom: 0em
        span::after
            transform: rotate(-45deg)
            top: 0em
.toggle-nav-label    
    width: 3em
    height: 3em
    cursor: pointer
    position: absolute
    right: 1em     
    top: 1em
    display: flex
    align-items: center    
    span, span::before,span::after        
        display: block
        background: var(--primary-yellow)
        height: 2px
        width: 100%
        border-radius: 2px
        position: relative
        transition: transform 0.3s ease-in-out, bottom 0.3s ease-in-out, top 0.3s ease-in-out,background-color 0.3s ease-in-out
    span::before,span::after
        content: ''
        position: absolute
        transform-origin: center
    span::before
        bottom: 0.7em
    span::after
        top: 0.7em    
.tagline
    border-bottom: none    
    height: auto
    max-width: 96%    
    color: var(--primary-orange)
    background: rgba(#343434,0.5)
    padding: 2rem 4rem
    position: relative
    text-align: center    
    img
        width: 3.5rem
        height: 3.5rem
    h1
        font-size: 4rem
        letter-spacing: 0.3rem        
        border-bottom: 0.5rem solid var(--primary-yellow) 
        span
            color: var(--primary-yellow)
    h5
        font-size: 1.5rem
               
.main-nav
    position: fixed  
    top: 0  
    font-size: 1.6rem 
    display: flex    
    align-items: center
    justify-content: space-between   
    padding: 0 30px 30px
    align-self: flex-start
    width: 100% 
    min-height: 5em   
    z-index: 100
    background: rgba(#343434,0.75)    
    &_links
        display: flex
        flex-direction: column
        list-style: none        
        width: 50%        
        margin: 3em auto 0       
        justify-content: space-evenly
        height: 0
        transition: height 0.3s ease-in-out
        li
            overflow: hidden
            width: 100%
            height: 100%            
            position: relative  
            display: flex
            align-items: center
            justify-content: center
            &::before
               +animated-bg 
            &:hover::before
                transform: scale(1)
        a              
            display: block
            position: relative
            z-index: 2
            width: 100%
            height: 100%
            text-decoration: none
            color: var(--primary-yellow)
            font-size: 2.5rem
            text-transform: lowercase
            text-align: center
            display: flex
            align-items: center
            justify-content: center
            transition: color 0.2s ease-in-out 0.2s           
            &:hover
                color: var(--primary-dark)
.cta
    overflow: hidden
    position: relative      
    transition: background-color 0.3s ease-in-out, color 0.2s ease-in-out 0.1s, border-color 0.2s ease-in-out 0.1s
    display: flex
    align-items: center
    justify-content: center
    a
        display: block    
        width: 100%
        height: 100%
        font-size: 2.5rem
        font-weight: bold
        letter-spacing: 0.2rem
        text-decoration: none
        color: var(--primary-yellow)
        border: 0.4rem solid var(--primary-yellow)        
        padding: 0.5rem 3rem    
        z-index: 2
        transition: color 0.2s ease-in-out 0.1s, border-color 0.2s ease-in-out 0.1s
        &:hover        
            color: var(--primary-dark)
            border-color: var(--primary-dark)
    &::before
        +animated-bg         
    &:active
        transform: translateY(1px) scale(0.99)
    &:hover::before
        transform: scale(1)
/* MAIN */
main
    min-height: 100vh 
    width: 100%     
section
    padding-top: 8rem
    width: 100%
    min-height: 100vh 
    display: grid  
    grid-template-columns: 1fr
    grid-template-rows: 1fr 1fr
    grid-gap: 1rem
    scroll-snap-align: start    
    color: var(--primary-dark)  
    h2  
        text-align: center
        font-size: 3rem        
        background: var(--primary-orange)
        padding: 0.5rem 1rem
        span
            color: #fff
    figure
        display: block
        width: 100%
        grid-row: 2 / -1
        overflow: hidden
        img
            display: block
            object-fit: cover
            width: 100%
            height: 100%
article
    grid-column: 1 / 2       
    height: 100%   
    border-bottom: 1px solid rgba(#343434,0.5) 
    p
        font-size: 1.6rem
        letter-spacing: 1px
        color: var(--primary-dark)
        padding: 1rem
    h2
        font-size: 3rem
        padding: 1rem

/* #PRODUCT */
#product  
    h4
        font-size: 2rem
        padding: 1rem
    ul
        font-size: 1.6rem
        list-style: initial
        list-style-position: inside
        padding: 1rem
    table
        width: 100%
        border-collapse: collapse
        font-size: 1.6rem        
    table,th,td
        border: 1px solid var(--primary-dark) 
        text-align: center   
    th
        background: var(--primary-orange)    
    th,td
        padding: 0.5rem 1rem
    .cta        
        margin: 5rem auto
        max-width: 50%
        a
            border-color: var(--primary-dark)
            color: var(--primary-dark)
            font-size: 2rem
            text-align: center
            padding: 1.5rem
            
/* #CONTACT */
#contact  
    min-height: 25vh   
    grid-template-rows: 1fr    
    article       
        grid-column: span 2
        display: grid
        grid-template-columns: 1fr
        grid-template-rows: repeat(3,auto)
        grid-gap: 1rem
        border-bottom: none
    h2        
        grid-row: 1 / 2
        margin-bottom: 1rem
    ul
        font-size: 2rem
        line-height: 2
        padding: 1rem
    .social-links
        display: flex
        justify-content: flex-start
        align-items: center 
        padding-left: 1rem
        a
            text-decoration: none
        strong
            font-size: 2rem 
            flex-basis: auto  
            margin-right: 1.5rem                            
        .fa
            font-size: 4rem   
            transition: text-shadow 0.3s ease-in-out                        
            &:hover
                 text-shadow: 1px 1px 3px var(--primary-dark)
            &:active
                transform: scale(0.99) translateY(1px)
        .fa-twitter
            color: #00aced
        .fa-facebook-f
            color: #4267B2
        .fa-linkedin
            color: #0e76a8
    .social-links_icons
        flex-basis: 40%
        display: flex
        justify-content: flex-start        
        a
            margin-right: 2.5rem
.contact-info
    border: 1px solid var(--primary-dark)
    padding: 1.5rem 1rem 2rem
    margin-bottom: 1.5rem
.comment-form
    @extend .contact-info
    h4
        font-size: 2rem
        text-align: center
    form
        padding: 1rem
        display: flex
        flex-direction: column        
        & > *
            margin: 1rem 0
            padding: 0.5rem
            outline: none
        button
            font-size: 2rem 
            width: 8em
            height: 2.5em
            align-self: flex-end
            color: var(--primary-dark)
            border: 2px solid var(--primary-dark)
            background: transparent
            cursor: pointer
            display: flex
            justify-content: center
            align-items: center
            position: relative
            overflow: hidden
            z-index: 2
            transform: translateZ(10px)
            span
                position: absolute
                z-index: 2
                display: block                          
                text-align: center
                line-height: 2em                
                font-size: 2rem
                letter-spacing: 0.4rem
            &::after
                +animated-bg 
                content: 'send' 
                color: var(--primary-dark)              
                z-index: 1
            &:hover::after
                transform: scale(1)
            &:active
                transform: translateY(1px) scale(0.99)
        input,textarea
            font-family: 'Open Sans', sans-serif
            font-size: 2rem
            color: var(--primary-dark)
            border: 2px solid trasparent            
            resize: none
            &:focus
                border-color: var(--primary-dark)
    

/* #ABOUT */
#about        
    .hand-signature
        float: right
    article
        grid-column: 1 / -1
    figure
        grid-column: 1 / -1
        grid-row: 2 / -1
/* FOOTER */
footer
    padding: 4rem
    font-size: 1.6rem
    background: var(--primary-dark)
    text-align: center
    font-weight: bold
    color: var(--primary-yellow)
    scroll-snap-align: start    
    .brand-logo
        position: relative
        top: -1rem   
        transform: translateX(-50%)       
        width: 40px 
        height: 40px
/* media queries */
@media (min-width: 768px)
    .container
        width: 85%
    body
        font-size: 10px
    section
        grid-template-columns: 1fr 1fr
        grid-template-rows: 1fr
    article
        grid-column: 1 / 2 
    figure
        display: block
        width: 100%
        grid-column: 2 / -1
        overflow: hidden
    #product
        figure
            grid-row: 1 / 2
        .cta            
            max-width: 50%
            a
                padding: 1.5rem 2rem
    #contact  
        min-height: 50vh    
        article       
            display: grid
            grid-template-columns: 1fr 1fr
            grid-template-rows: auto 1fr
        h2
            grid-column: span 2
    #about
        article
            grid-column: 2 / -1
        figure
            grid-column: 1 / 2
            grid-row: 1 / 2 
    .main-nav
        height: 7rem
        padding-bottom: 0
        &_links
            width: 70%
            flex-direction: row  
            height: 4em
            margin: 0 auto  
    .toggle-nav-label
        display: none
    .cta
        a
            font-size: 3rem
            letter-spacing: 0.3rem
@media (min-width: 950px)
    .container
        width: 70%
    .tagline        
        max-width: 70%  
        img
            width: 5rem
            height: 5rem
        h1
            font-size: 7rem
            letter-spacing: 0.5rem 
        h5
            font-size: 2.5rem            
            margin-top: -0.5rem
    #product .cta
        max-width: 40%
    .cta
        a
            font-size: 4rem
            letter-spacing: 0.4rem